//pagina MBA universidades


.mba-main{
    //border: 3px dotted blue;
    .mba-cards{
       // border: 1px darkorange dotted;
        .col{
            height:300px;
            img{
               // border: blue 3px solid;
                height: 130px;
                width: 130px;}
        }

    }

}

